{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <aside class="actions">
                <form method="POST" action="{% url 'post_publish' pk=post.pk %}" class="post-form">{% csrf_token %}
                    <button type="submit" class="post btn btn-info" name="publish">Publish</button>
                </form>
            </aside>
            
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
            </h1>
            <p>{{ post.text|truncatechars:100 }}</p>
        </div>
        <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
        <hr id="draftstop">
    {% endfor %}
{% endblock %}