h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster', cursive;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #C25100;
}

.date {
    color: #060606;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.actions{
    margin: 5px;
}

.post {
    margin-bottom: 60px;
}

.post h2 a,
.post h2 a:visited {
    color: #C25100;
}

.post > .date,
.post > .actions,
.save {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover,
.btn-danger:hover {
    color: #FFFFFF;
    background-color: #C25100;
    border-color: #C25100;
    box-shadow: none;
}

.btn-danger{
    background-color: #FFFFFF;
    color: #C25100;
    border-color: #C25100;
    float: right;
    box-shadow: none;
}

.button_container{
    display: flex;
    gap: 5px;
    width: 100%;   
    padding: 10px 20px;
    height: 50px;
}

.btn-info:hover{
    background-color: #C25100;
    color: #FFFFFF;
    border-color:#C25100 ;
    box-shadow: none;
}

td {
    color: #C25100;
    font-family: 'Lobster', cursive;
}

.top-menu span{
    color: #FFFFFF;
    height: 20px;
    width: 20%;
}

.btn-info, #com {
    background-color: #FFFFFF;
    color: #C25100;
    margin: none;
    font-family: 'Lobster', cursive;
    border-radius: 8%;
    cursor: pointer;
    outline: none;
    border-color: #C25100;
    box-shadow: none;
}

#com:hover {
    background-color: #C25100;
    color: #ffffff;
    margin: none;
    box-shadow: none;
}

#draftstop{
    size: 1px;
    opacity: 10%;
    color: black;
}

#name{
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}